In [1]:
2*2

4

In [3]:
3+5

8

In [5]:
4 * 6

24

In [5]:
5**7

78125

# This is my first program

In [29]:
tuple={}
print(tuple)

TypeError: 'tuple' object is not callable

In [23]:
list_1

range(0, 25)

In [9]:
print(list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list_4 = list(range(41))

In [13]:
print(list_4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [14]:
list_abc = list(range(56))

In [15]:
print(list_abc)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]